In [28]:
import pandas as pd 
import numpy as np
import math
#preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

# performance evaluation metrics
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
# model
from sklearn.ensemble import RandomForestRegressor
# warning compression
import warnings
warnings.filterwarnings('ignore')

In [40]:
df = pd.read_csv("./data/crude.csv")

In [41]:
df.head()

         Date  Close/Last    Volume   Open   High    Low
0  10/28/2022       87.90  241417.0  88.67  88.76  87.08
1  10/27/2022       88.26  273717.0  88.26  89.79  87.33
2  10/26/2022       87.91  271474.0  85.07  88.41  84.14
3  10/25/2022       85.32  226337.0  84.88  86.03  83.06
4  10/24/2022       84.58  238458.0  85.24  85.92  82.63

In [42]:
df.isna().any()

Date          False
Close/Last    False
Volume         True
Open          False
High          False
Low           False
dtype: bool

In [43]:
# checking for empty field in the dataset
df = df.dropna()

In [44]:
df.shape

(2517, 6)

In [45]:
df.dtypes

Date           object
Close/Last    float64
Volume        float64
Open          float64
High          float64
Low           float64
dtype: object

In [46]:
df["Date"]=pd.to_datetime(df.Date, dayfirst=True)
df.set_index("Date",inplace=True)
df

            Close/Last    Volume   Open   High    Low
Date
2022-10-28       87.90  241417.0  88.67  88.76  87.08
2022-10-27       88.26  273717.0  88.26  89.79  87.33
2022-10-26       87.91  271474.0  85.07  88.41  84.14
2022-10-25       85.32  226337.0  84.88  86.03  83.06
2022-10-24       84.58  238458.0  85.24  85.92  82.63
...                ...       ...    ...    ...    ...
2012-06-11       88.71  270163.0  85.67  89.22  85.42
2012-05-11       85.65  185846.0  84.65  85.90  84.34
2012-02-11       84.86  273619.0  86.91  87.24  84.66
2012-01-11       87.09  185097.0  86.10  87.42  85.92
2012-10-31       86.24  192354.0  85.73  87.19  85.61

[2517 rows x 5 columns]

In [47]:
df.columns

Index(['Close/Last', 'Volume', 'Open', 'High', 'Low'], dtype='object')

In [48]:
y = df['Close/Last']
X = df.drop(['Close/Last'], axis=1)
scaler = MinMaxScaler()
X = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)
X.head()

# diving the dataset into train and test for the independent and dependent 
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, shuffle=False)

In [49]:
model = RandomForestRegressor(random_state=42)
# fit the regressor with x and y data
model.fit(X_train, Y_train)
y_pred =  model.predict(X_test)
print(r2_score(Y_test, y_pred))

0.9692179041016808

In [50]:
import joblib
joblib.dump(model, "model.pkl")

['model.pkl']